
footer {
  padding: 20px;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius:  0 0 5px 5px;
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: auto;
  box-sizing: border-box;
}

footer ul {
  display: flex;
}

footer li {
  padding: 0px 10px;
}
